@media (min-device-width: 1501px) and (max-device-width: 1800px)
    .bg-main
        position: relative
        .container
            padding: 0 135px 0 135px
        // Левая часть контента
        .bg-main__wrapper-main
            margin-left: 30px
        .bg-main__logo
            width: 120px
            top: 20px
        .bg-main__business
            font-size: 28px
            top: 70px
            line-height: 23px
        .bg-main__prengi
            top: 150px
            font-size: 20px
            line-height: 20px
        #button-main
            font-size: 14px
            top: 220px
            width: 205px
            height: 45px
        ////////////////////////////////////
        // Правая часть контента
        .bg-main__wrapper-second
            display: flex
            justify-content: flex-end
        .bg-main__menu-wrapper
            width: 500px
            top: 30px
            right: auto
            ol
                padding: 0
        .bg-main__menu-content
            margin: 0 5px
        #phone-f
            position: absolute
            right: 0 auto
        .bg-main__phone
            margin-right: 10px
            right: 60px
            max-height: 480px
@media (min-device-width: 992px) and (max-device-width: 1500px)
    #main
        display: flex
        justify-content: center
        .header
            .header__content
                img
                    width: 20px
                    height: 15px
            .header__wrapper
                display: flex
                justify-content: center
            .header__wrapper-text
                max-width: 141px
                font-size: 9px
                line-height: 14px
    .bg-main
        position: relative
        .container
            padding: 0 135px 0 135px
        // Левая часть контента
        .bg-main__wrapper-main
            margin-left: 30px
        .bg-main__logo
            width: 80px
            top: 20px
        .bg-main__business
            max-width: 300px
            font-size: 23px
            top: 70px
            line-height: 23px
        .bg-main__prengi
            top: 150px
            font-size: 17px
            line-height: 20px
        #button-main
            font-size: 12px
            top: 220px
            width: 173px
            height: 40px
        ////////////////////////////////////
        // Правая часть контента
        .bg-main__wrapper-second
            display: flex
            justify-content: flex-end
        .bg-main__menu-wrapper
            width: 429px
            top: 30px
            right: auto
            ol
                padding: 0
        .bg-main__menu-content
            margin: 0 5px
        #phone-f
            position: absolute
            right: 0 auto
        .bg-main__phone
            margin-right: 10px
            right: 0
            max-height: 270px
        ////////////////////////////////////
        .bg-main__slick-dots
            bottom: 20px
        button.slick-next.slick-arrow
            bottom: 34px
            width: 21px
            right: 40%
        button.slick-prev.slick-arrow
            bottom: 35px
            left: 42%
    #module
        .c-prengi__text, .c-prengi__text-end
            font-size: 16px
        .c-prengi__title
            font-size: 47px
    #industries
        .container
            padding: 0 30px 0 30px
        h3.title
            font-size: 30px
            padding-top: 47px
    #About-us
        .container
            padding: 0 30px 0 30px
    #Commitments
        min-height: 304px
        .container
            padding: 0 30px 0 30px
        .title-data
            padding-top: 30px
            font-size: 25px
        .data__text-left, .data__text-right
            top: 129px
            font-size: 16px
        .data__text-left
            right: 40px
        .data__text-right
            left: 40px
        .data__text-left-sub, .data__text-right-sub
            width: 330px
            font-size: 12px
            top: 168px
        .data__text-left-sub
            right: 40px
        .data__text-right-sub
            left: 40px
    section.access
        min-height: 600px
        .container
            padding: 0 30px 0 30px
    footer.footer
        padding-bottom: 30px
        .container
            padding: 0 30px 0 30px
        hr
            width: 100%
    a.up
        width: 35px
        height: 35px